
<div class="container mt-4 mb-4">

  <ng-container>

  <p-table [columns]="cols" [value]="consultas" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr class="text-center">
          <th>Data hora início</th>
          <th>Data hora final</th>
          <th>Nome</th>
          <th class="col-btns"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">

            <td>{{rowData.dataHoraInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{rowData.dataHoraFinal | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{rowData.pessoa.nome | uppercase }}</td>
            <td class="col-content-btns">
              <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/consulta-medica-detalhe', rowData.id]" tooltipPosition="bottom"></p-button>
              <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (onClick)="delete(rowData)"></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="text-center">
        <td colspan="4">
          Nenhum registro encrontado.
        </td>
    </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton [routerLink]="['/consulta-medica-detalhe']" label="Adicionar"></button>
        </div>
    </ng-template>

</p-table>
</ng-container>

</div>


