table {
  width: 100%;
}

::ng-deep {
  .mat-column-action {
    width: 120px;
  }

  .card-list {
    margin-bottom: 16px;

    .mat-card-header-text {
      margin: 0;
    }
  }
}

::ng-deep  .ui-calendar .ui-datepicker {
  min-width: 60%;
}

::ng-deep table.ui-datepicker-calendar tr td{
  padding: 0;
}

.btn-editar {
  margin-right: 5px;
}

.col-btns {
  width: 96px;
}

